---
import '../styles/global.css';
import FloatingNavbar from "../components/ui/FloatingNavbar";
import SonnerToaster from "../components/ui/SonnerToaster";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Pablo Villacrés</title>
    <meta name="description" content="Pablo's Portfolio" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Space+Grotesk:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="antialiased font-space-grotesk font-inter">
    <FloatingNavbar client:only="react" />
    <SonnerToaster client:only="react" />
    <slot />
  </body>
</html>

<style>
  :root {
    --font-space-grotesk: 'Space Grotesk', sans-serif;
    --font-inter: 'Inter', sans-serif;
  }

  .font-space-grotesk {
    font-family: var(--font-space-grotesk);
  }

  .font-inter {
    font-family: var(--font-inter);
  }
</style>
